doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    meta(name="description", content="A one-man agency built for rapid prototyping and cutting-edge technical strategy.")
    title &#12316;
    link(rel="stylesheet", href="./style/main.css", type="text/css")
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(type="text/javascript", src="./behaviour/libraries/jquery.parallaxify.min.js")
    script(type="text/javascript", src="./behaviour/libraries/jquery.jumbotron.js")
    script(type="text/javascript", src="./behaviour/main.js")
  body
    section.who
        video#v-background(preload="auto", autoplay="true", loop="loop", muted="muted")
            source(src="https://s3-eu-west-1.amazonaws.com/momentumlabsio/water.mp4", type="video/mp4")
            source(src="https://s3-eu-west-1.amazonaws.com/momentumlabsio/water.webm", type="video/webm")
        #logo
          | &#12316;
    section.why#space(data-parallaxify-background-range-x="30", data-parallaxify-background-range-y="30")
        .clouds
            .headline
                | Lets build
                br
                | something
                br
                | great
            .box
                .about-us
                    h2 &#12316; engineers technical leverage for your ideas.
                    p How?
                    p By providing sharp-eyed technical strategy alongside rapid prototyping of products.
                    p &#12316; is the one-man agency of&nbsp;
                      a(href="http://twitter.com/sebinsua") @sebinsua
                      | .
                .call
                    h2 If you'd like help, get in touch.
                    p We're based in London and initial consultations are free.
                    p
                        a(href="mailto:me@sebinsua.com", class="contact-us") Say hi.
                .clear
    footer.shaded
        | Copyright &copy; Momentum Labs Limited #{currentYear}
        | &bull;
        | Made with &hearts; in London
        | &bull;
        a(href="http://twitter.com/sebinsua") @sebinsua
